* {
  color: #dcd7ba;
}

#window {
  background: none;
}

#box {
  background: #16161d;
  padding: 10px;
  border-radius: 2px;
}

#password {
  outline: none;
  outline-width: 0px;
  border-radius: 0;
  box-shadow: none;
  background: #1f1f28;
}

#searchwrapper {
}

#search,
#typeahead {
  border-radius: 0;
  outline: none;
  outline-width: 0px;
  box-shadow: none;
  border-bottom: none;
  border: none;
  background: #1f1f28;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 2px;
}

#spinner {
  opacity: 0;
}

#spinner.visible {
  opacity: 1;
}

#typeahead {
  background: none;
  opacity: 0.5;
}

#search placeholder {
  opacity: 0.5;
}

#list {
}

row:selected {
  background: #1f1f28;
}

.item {
  padding: 5px;
  border-radius: 2px;
}

.icon {
  padding-right: 5px;
}

.textwrapper {
}

.label {
}

.sub {
  opacity: 0.5;
}

.activationlabel {
  opacity: 0.25;
}

.activation .activationlabel {
  opacity: 1;
  color: #76946a;
}

.activation .textwrapper,
.activation .icon,
.activation .search {
  opacity: 0.5;
}
