#window,
#box,
#aiscroll,
#aicontent,
#search,
#password,
#input,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#window {
  color: rgba(255, 255, 255, 0.8);
}

#aiscroll,
#aicontent,
#aicontent > *:first-child {
  background: none;
  color: inherit;
}

#box {
  border-radius: 2px;
  background: linear-gradient(
    to bottom,
    hsla(240, 12.7%, 13.9%, 0.98),
    hsla(219, 28.6%, 19.2%, 0.96)
  );
  padding: 32px;
  border: 1px solid #232d3f;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.22);
}

#prompt {
}

#password,
#input,
#typeahead {
  background: hsla(219, 28.6%, 19.2%, 0.8);
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

#input {
  background: none;
}

#password {
}

#spinner {
}

#typeahead {
  color: hsl(174, 89.7%, 32.7%);
}

#input placeholder {
}

#input > *:first-child,
#typeahead > *:first-child {
  margin-right: 16px;
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.2;
}

#input > *:last-child,
#typeahead > *:last-child {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

#list {
}

child {
  padding: 9px;
  border-radius: 2px;
}

child:selected,
child:hover {
  /*color: #232d3f;*/
  background: hsla(172, 100%, 25.3%, 0.6);
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}
