@define-color main_color rgba(255, 255, 255, 0.8);
@define-color main_border_color #232d3f;
@define-color gradient_start hsla(240, 12.7%, 13.9%, 0.98);
@define-color gradient_end hsla(219, 28.6%, 19.2%, 0.96);
@define-color search_background hsla(219, 28.6%, 19.2%, 0.8);
@define-color search_icon_color rgba(255, 255, 255, 0.8);
@define-color typeahead_color hsl(174, 89.7%, 32.7%);
@define-color selected_background hsla(172, 100%, 25.3%, 0.6);
@define-color ai_color rgba(255, 255, 255, 0.8);
@define-color ai_response_background hsla(219, 28.6%, 19.2%, 0.8);

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#window {
  color: @main_color;
}

#box {
  border-radius: 2px;
  background: linear-gradient(to bottom, @gradient_start, @gradient_end);
  padding: 32px;
  border: 1px solid @main_border_color;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.22);
  background: @search_background;
}

#prompt {
}

#password,
#input,
#typeahead {
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

#input {
  background: none;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @typeahead_color;
}

#input placeholder {
  opacity: 0.5;
}

#input > *:first-child,
#typeahead > *:first-child {
  margin-right: 16px;
  margin-left: 4px;
  color: @search_icon_color;
  opacity: 0.2;
}

#input > *:last-child,
#typeahead > *:last-child {
  color: var(--search-icon-color);
  opacity: 0.8;
}

#list {
}

child {
  padding: 9px;
  border-radius: 2px;
}

child:selected,
child:hover {
  background: @selected_background;
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @ai_color;
}

.aiItem.user {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: @ai_response_background;
}
