#window,
#box,
#search,
#password,
#input,
#typeahead,
#spinner,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#sub,
#activationlabel {
  all: unset;
}

#window {
  background: none;
  color: #dcd7ba;
}

#box {
  background: #16161d;
}

#search {
  padding-left: 6px;
}

#password,
#input,
#typeahead {
  padding: 8px;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

#input > *:first-child,
#typeahead > *:first-child {
  margin-right: 12px;
}

#spinner {
}

#typeahead {
  color: #72a7bc;
}

#input placeholder {
  opacity: 0.5;
}

#list {
  background: #16161d;
}

child {
  box-shadow: none;
}

child:selected,
child:hover {
  box-shadow: none;
  background: #1f1f28;
}

#item {
  padding: 5px;
}

#icon {
}

#text {
}

#label {
}

#sub {
  font-size: smaller;
  opacity: 0.5;
}

#activationlabel {
  opacity: 0.5;
}

.activation #activationlabel {
  opacity: 1;
  color: #72a7bc;
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}
