scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  /*  NEEDS TO BE TRANSPARENT CUZ OF HYPRLAND BUG */
  background: alpha(@window_bg_color, 0.99);
}

.preview-box {
}

.box {
}

.search-container {
  background: @window_bg_color;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  font-size: 20px;
  border-radius: 0;
  padding: 10px;
  box-shadow: none;
  outline: none;
  padding-left: 10px;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  background: @window_bg_color;
}

child,
child > * {
  padding: 0;
  margin: 0;
}

.item-box {
  padding: 10px;
}

.item-text-box {
  all: unset;
}

.item-text {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.8;
}

.item-image {
}

.keybind-hints {
  padding: 10px;
  font-size: 14px;
  color: @theme_fg_color;
  opacity: 0.5;
  background: lighter(@window_bg_color);
}

.preview {
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 18px;
}
